.lk-grid-layout-wrapper {
  width: 400px;
}

.lk-focus-layout-wrapper {
  justify-content: flex-start;
}
.lk-focus-layout {
  /* display: flex; */
  width: 300px;
  grid-template-columns: 300px !important;
}

.lk-carousel {
  overflow-y: auto !important;
  height: 100vh;
}

@media (max-width: 768px) {
  .lk-focus-layout {
    /* display: flex;
    flex-direction: row; */
    width: 400px;
  }
}
